{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", sans-serif;
  background-color: #b91450;
}
/* Prima sezione */
#calcolo-biglietto, #biglietto{
  align-items: center;
  flex-direction: column;
}
#calcolo-biglietto, .row {
  justify-content: center;
}
.col{
  flex-direction: column;
}
h2 {
  color: white;
}
.card-rounded {
  height: 150px;
  width: 60%;
  background-color: white;
  border-radius: 20px;
  padding: 20px 40px;
}
.card-rounded label {
color: #b91450;
text-align: center;
margin-bottom: 10px;
}
.card-rounded input {
  padding: 5px;
  border-radius: 4px solid #b91450;
  text-align: center;
}
#fascia {
  padding: 5px;
  border-radius: 4px solid #b91450;
}
.btn-box {
  margin-top: 50px;
}
#btn-genera, #btn-annulla{
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  color: #b91450;
}
/* /Prima sezione */
.card-normal {
  height: 150px;
  width: 60%;
  background-color: white;
  padding: 20px 40px;
}
.box-details, .box-passengers {
  border-bottom: 0.5px solid grey;
}
.box-passengers {
  width: 100%;
}
/* Utility */
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.block{
  display: block;
}
.space-around{
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.bg-grey {
  background-color: grey;
}
/* /Utility */
